*.pt
*.jpg
*.png
*.jpeg
*.webp
*.gif
*.bmp
*.tiff
old_scrap_files
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
.DS_Store
.idea
.vscode
.env
.venv
.pytest_cache
.ruff_cache
*.ipynb
*.ipynb_checkpoints
*.ipynb_checkpoints_old
*.ipynb_checkpoints_old_2
*.ipynb_checkpoints_old_3
*.ipynb_checkpoints_old_4
*.ipynb_checkpoints_old_5